---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'

const pageTitle = 'Blog posts'
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Time to Blog</h1>
      
  <ul>
      <li><a href="/posts/post-01/">Post 1</a></li>
      <li><a href="/posts/post-02/">Post 2</a></li>
      <li><a href="/posts/post-03/">Post 3</a></li>
  </ul>
</BaseLayout>